:root {
    --vivid-pink: #F7C1B1;
    --inactive: #D5CDCB;
    --grey: #A7A7A7;
    --black: #484848;
    --text-pink: #F08C6F;
    --mild-pink: #FFE2D9;
}

* {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s;
}

#background{
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    position:fixed;
    top:0;
    left:0;
    background-image: url("bg.png");
    background-color: tomato;
    z-index:0;
    transition: all .5s
}

#background:hover{
    transform: scale(1.2)
}

.container {
    width: 80%;
    height: 90%;
    position: absolute;
    left: 10%;
    top: 5%; 
}

#window{
    height: 76vh;
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 5vh;
    margin: 1vh;
    padding: 5% 7% !important;
}

.shadow {
    box-shadow: 1vh 1vh 2vh rgba(0,0,0,0.2);
}

.btn {
    background-color: white;
    width: fit-content;
    block-size: fit-content;
    padding: 5px 8px;
    display:flex;
}

.btn > * {
    color: var(--inactive);
    margin: 10px;
    justify-content: center;
    align-items: center;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1.5vw;
    height:8%;
}

.lang > * {
    font-weight: 400;
    font-size: 1.1rem;
    background:none;
    border:none;
    margin:0;
    margin-right: 12px;
    padding:0;
    cursor: pointer;
}

i{
    font-size: 25px;
}

.sns > * {
    color: white;
    padding: 8px;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.lang > *{
      color: var(--grey);
}

.highlight-pink{
    color: var(--text-pink);
    font-weight: 600;
    text-decoration: underline;
}

.highlight-white{
    color: white;
    font-weight: 600;
    text-decoration: underline;
}


/* no line break after p */
p
{
    display: inline;
}

.fadeUp {
    animation: fadeIn 1.7s linear;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
 } 
i:hover{
    color: var(--text-pink);
    transform: scale(1.3);
    transition: .3s ease-in-out;
}

.underline {
    width: 50px;
    height: 6px;
    background-color: var(--inactive);
    margin-bottom: 20px;
}

p{
    line-height: 150%;
}

/* timeline */
.timeline-item {
    padding-left: 40px;
    position: relative;
}

.timeline-item:last-child {
padding-bottom: 0;
}

li {
    margin-bottom: 5px;
}

.history-container > *{
    margin-bottom: 7vh;
}

.timeline-marker:before {
width: 15px;
height: 15px;
background: var(--text-pink);
border: 3px solid transparent;
border-radius: 100%;
content: "";
display: block;
height: 15px;
position: absolute;
top: 4px;
left: 0;
width: 15px;
transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline-marker:after {
content: "";
width: 3px;
background: var(--inactive);
display: block;
position: absolute;
top: 36px;
bottom: 0;
left: 9px;
}

.timeline-item:last-child .timeline-marker:after {
content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
background: transparent;
border: 3px solid var(--text-pink);
}


.blur{
    filter: blur(6px)
}


.screen-inactive{
    margin: 0;
    padding:0;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    z-index: 5;
}